<%= form_with(url: sessions_path) do |form| %>
  <div>
    <%= form.label :inicio %>
    <%= form.text_field :login %>
  </div>

  <div>
    <%= form.label :contraseña %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>