<%= form_with(model: @supplier) do |form|%>
    <% @supplier.errors.full_messages.each do |error| %>
        <div>
            <%= error %>
        </div>
    <% end %>
    <div>
        <%= form.label :name%>:
        <%= form.text_field :name%>
    </div>
    <div>
        <%= form.label :nit%>:
        <%= form.text_field :nit%>
    </div>
    <div>
        <%= form.label :Name_of_the_contact_person%>:
        <%= form.text_field :Name_of_the_contact_person%>
    </div>
    <div>
        <%= form.label :Contact_person_cell_phone_number%>:
        <%= form.text_field :Contact_person_cell_phone_number%>
    </div>

    
    <%= form.submit %>
<% end %>